.cart-design{
    border: 1px solid black;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    
    background-color: rgb(247, 242, 242);

}
.cart-design img{
    width: 100%;
}

.card-details{
    /* display: flex; */
    text-align: center;
    /* margin-top: 20px; */
}