.cart-design{
    /* border: 1px solid rgb(247, 243, 243); */
    margin: 10px;
    
    padding: 10px;
    border-radius: 10px;
    background-color: #e2e8ed;

}
.cart-design img{
    width: 100%;
}

.text .card-details{
    
    color: rgb(19, 18, 18);
    text-decoration: none;
    
}



.text , a{
    text-decoration: none;
    color: rgb(182, 97, 97);
    transition: .5s;
}


.text:hover{
  
    color:rgb(240, 233, 233);
    background-color: #dde6ed;
    scale: 1.08;
}

 a:hover{
    color:rgb(141, 111, 111);
}

.icon{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 50%;
}
