.quiz p{
    color: red;
}
.quiz-que{
    background-color: #7487a1;
    padding: 20px;
    color: white;
    border-radius: 10px;
    text-align: start;
}

.quiz-container{
    background-color:#ecf0f1;
}

.eye{
    cursor: pointer;
}